body.ReactModal__Body--open {
  overflow: hidden;
}

.modal-content {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 8px 28px;
  border-radius: 0.75rem 0.75rem 0 0;
  max-height: 90%;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  outline: none;
  overflow: hidden;
  margin: 0;
}

.modal-content.modal-content-small {
  @apply max-w-screen-lg;

  @screen md {
    @apply max-w-2xl;
    border-radius: 0.75rem;
    margin: auto;
  }
}

.modal-content.modal-content-big {
  @apply max-w-screen-lg;

  @screen lg {
    border-radius: 0.75rem;
    margin: auto;
  }
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='black' strokeLinecap='round' strokeLinejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
}
