* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.category-add {
  width: 60px;
  margin-left: 32px;
}

.svg {
  background: none;
  border: none;
}

button {
  background: none;
  border: none;
}
